
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
.container{
>input{
  margin-left: 20px;
  padding: 10px;
  width: 400px;
  margin-top: 30px;
  font-size: 20px;
  border-radius: 5px;
  border: none;
  outline: none;
} 
>button{

  margin: 15px 20px;
  padding: 10px;
  width: 100px;
  font-size: 20px;
  border-radius: 5px;
  border: none;
  outline: none;
  transition: .3sec;
  opacity: .9;
}
>button:active{
  transform: scale(1.02);
  background-color: rgb(128, 128, 204);
  opacity: .8;
  color: white;
}

}
.outbox{
  /* background-color: rgb(255, 255, 255); */
  height: auto;
 text-align: center;
 padding: 40px;
 display: flex;
 justify-content: center;
 flex-wrap: wrap;

}
.box{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.card{
  margin-top: 30px;
  width: 400px;
  height: auto;
  background-color: rgb(143, 178, 189);
  padding: 10px;
  margin-left: 30px;
  color: black;
  font-size: 20px;
  margin-bottom: 50px;
}
ul,li{
  margin-bottom: 10px;
  list-style: none;
  padding: 10px;
}
.check{
 
  display: flex;
  justify-content: end;
  gap: 10px;
  font-size: 20px;
  padding: 10px;
  
  >.edit{
    padding: 10px;
    width: 70px;
    background-color: green;
    color: white;
  }
  >.delete {
    padding: 10px;
    width: 70px;
    background-color: tomato;
    color: white;
  }
}
label{
  margin-right: 20px;
}
.down{
  background-color: lightpink;
  padding: 15px;
}
.sfilter{
  /* background-color: red; */
  text-align: end;
  >select{
    margin-right: 50px;
    padding: 10px;
    background-color: lightgreen;
  }
}
.disc{
  min-height: 70px;
  background-color: rgb(245, 245, 245);
  border-radius: 10px;
}
main{
  >.empty{
    font-size: 30px;
    color: rgb(74, 74, 223);
    text-align: center;
    /* margin-top: 50px; */
    padding-bottom: 100px;
    padding-top: 50px;
    background-color:lightblue;
  }
}
.body{
  background-color: lightblue;
  margin:40px ;
  height: auto;
}
.footer{
  text-align: center;
  background-color: rgb(87, 83, 83);
  color: white;
  font-size: 23px;
  padding: 20px;
}
.title{
  background-color: lightcoral;
  color: white;
  width: 200px;
  margin: auto;
}